[user]
	email = smakey18@gmail.com
	name = Ren Odion
	signingkey = 4DF50DFF08E20280
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[maintenance]
	repo = /home/smakey18/Projects/Dotfiles
	repo = /DistroboxHomes/arch/smakey18/Projects/Dotfiles
